:root {
  font: 12px/20px Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*#region form elements -----------------------------------*/

.input-text,
.textarea {
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 0;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  background-color: transparent;
  width: 100%;
  display: block;
}

.input-text::placeholder,
.textarea::placeholder {
  color: lightgrey;
}

.textarea {
  min-height: 100px;
}

.input-text--white,
.textarea--white {
  color: white;
  border-bottom: 2px solid white;
}

.input-text:focus,
.textarea:focus {
  border-bottom: 2px solid yellow;
}

/*#endregion form elements -----------------------------------*/

/*#region btn ------------------------------------------------*/

.btn {
  appearance: button;
  background-color: black;
  border: 1px solid black;
  box-shadow: white 4px 4px 0 0, black 4px 4px 0 1px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 20px;
  text-align: center;
  white-space: nowrap;
}

.btn:hover {
  text-decoration: none;
  text-decoration: none;

  background-color: rgb(60, 60, 60);
}

.btn:active {
  outline: 0;
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.btn--yellow {
  background-color: yellow;
  color: black;
}

.btn--yellow:hover {
  background-color: rgb(235, 235, 0);
}

.btn--grey {
  background-color: rgb(228, 228, 228);
  color: black;
}

.btn--grey:hover {
  background-color: rgb(216, 216, 216);
}

.btn--white {
  background-color: #fff;
  color: black;
  box-shadow: black 4px 4px 0 0, white 4px 4px 0 1px;
}

.btn--white:hover {
  background-color: rgb(230, 230, 230);
}

.btn--small {
  font-size: 10px;
  line-height: 16px;
  padding: 6px 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.btn--large {
  font-size: 14px;
  line-height: 20px;
  padding: 14px 28px;
  text-transform: uppercase;
  font-weight: 700;
}

/*#endregion btn ---------------------------------------------*/

/*#region calendar -------------------------------------------*/

.calendar {
  display: grid;
  gap: 15px;
  width: 630px;
  margin: 50px auto;
}

.calendar__grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-title {
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
}

.calendar__legend {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

.calendar__legend-item {
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}

.calendar__cell {
  padding: 10px;
  box-shadow: 0 0 0 1px black;
  min-height: 90px;
  cursor: pointer;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.calendar__cell--out-of-range {
  background-color: silver;
  cursor: default;
}

.calendar__cell--has-events::before {
  content: "★";
  position: absolute;
  right: 8px;
  top: 7px;
  font-size: 18px;
}

.calendar__cell--today {
  background-color: #353535;
  color: white;
}

.calendar__cell--selected {
  background-color: yellow;
  color: black;
}

.calendar__date {
  margin: 0;
  position: absolute;
  left: 10px;
  top: 10px;
  font-weight: bold;
  font-size: 16px;
}

.calendar__events-count {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
}

.calendar__event-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.calendar__events {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.calendar__today-mark {
  font-size: 8px;
  line-height: 12px;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}

.calendar__list-item:not(:last-child) .calendar__event-card {
  border-bottom: none;
}

.calendar__blank-event {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

/*#endregion calendar ----------------------------------------*/

/*#region event-card -----------------------------------------*/

.event-card {
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.event-card__title,
.event-card__desc {
  width: 100%;
  flex: 1 0 100%;
}

.event-card__title {
  font-size: 18px;
  margin: 0;
  padding: 0 0 10px;
  border-bottom: 1px dashed black;
}

/*#endregion event-card --------------------------------------*/

/*#region add-form -------------------------------------------*/

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: black;
  padding: 20px 30px 30px;
  color: white;
}

/*#endregion add-form ----------------------------------------*/
